.root {
  @apply relative  pt-9 pb-0 text-black z-30 max-w-7xl mx-auto;
}
.content {
  @apply max-w-6xl mx-auto px-4;
}
.question {
  @apply text-xl lg:text-3xl text-gray2 pt-8 leading-snug;
}
.inputWrapper {
  @apply bg-white pt-12 px-5 lg:px-12 max-w-8xl mx-auto my-12;
}
/* .input {
  @apply w-full h-2 bg-mid-gray2 rounded-lg appearance-none cursor-pointer border border-gray;
} */
.input {
  @apply appearance-none w-full bg-mid-gray2 rounded-lg h-4 border border-gray bg-no-repeat;
  /* background-image: linear-gradient(#d46a6a, #d46a6a); */
}

.input::-webkit-slider-thumb {
  @apply appearance-none rounded-full  h-8 w-8 cursor-pointer ease-in-out  transition-all shadow-[0_9px_14px_rgba(0,0,0,0.29)];
  background: rgb(16, 101, 222);
  background: radial-gradient(
    circle,
    rgba(16, 101, 222, 1) 0%,
    rgba(16, 101, 222, 1) 59%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}

.input::-webkit-slider-runnable-track {
  @apply appearance-none shadow-none border-none bg-transparent;
}

/* .input::-webkit-slider-thumb:active {
  box-shadow: #fff 0px 0px 0px 6px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
} */

/* .input::-webkit-slider-thumb {
  @apply w-[20px] h-[20px] border border-white rounded-full appearance-none bg-blue;
} */

.inputContent {
  @apply max-w-6xl mx-auto;
}
.small {
  @apply text-center text-darkest opacity-40 font-bold font-montserrat w-full block my-6;
}
.smallUppercase {
  @apply uppercase;
}
.datalist {
  @apply px-1 flex w-full justify-between select-none mb-5;
}
.datalist li {
  @apply list-none font-bold font-montserrat;
}

.labels {
  @apply lg:text-lg uppercase w-full flex justify-between font-bold tracking-tighter transform -translate-y-5;
}

/* .label:first-of-type { */
/* @apply max-w-[100px]; */
/* } */
.label:last-of-type {
  @apply text-right;
}

.h3 {
  @apply text-2xl;
}
